.imagenDeQuienSoy{
    width: 100%;
   
    }
body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}
p {font-size: 16px;}
.margin {margin-bottom: 45px;}
.bg-1 { 
    background-color: rgba(37, 59, 47, 0.65);
    color: #caffca;
    font-family: 'Impact';
}
.bg-2 { 
    background-color: rgb(31, 61, 82, 0.65); /* Dark Blue */
    color: #b9daff;
    font-family: 'Cambria';
}
.bg-3 { 
    background-color: rgba(45, 34, 49, 0.65); /* White */
    color: #eca1ff;
    font-family: 'Impact';
}
.bg-4 { 
    background-color: rgba(0, 0, 0, 0.75); /* Black Gray */
    color: #fff;
    font-family: 'Cambria';
}
.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    font-family: 'Cambria';
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    width: 100%;
}

.btn-default{
    color: rgb(26, 135, 224);
}