.title_text{
    font-family: 'Impact';
}
a{
    color: rgb(255, 50, 50);
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
    font-family: 'Cambria';
    background-color: rgba(0, 0, 0, 0.85);
    position: fixed;
    z-index: 2;
}

.container-fluid{
    color: rgb(255, 153, 153);
}

