  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
           <button (click)="Toggle()">
            <span class="icon-bar"></span>  
          </button>
          <a class="title_text" routerLink="/Principal">Inicio</a>
        </div>
        <div [hidden]="ocultarElementos">
                <li ><a routerLink="/Juegos">Menú de Juegos</a></li>
                <li ><a routerLink="/." title="Adivina un numero secreto" (click)="Juego('Adivina')">Adivina</a></li>
                <li ><a routerLink="/."  title="Ordena una palabra desordenada" (click)="Juego('Anagrama')">Anagrama</a></li>
                <li ><a routerLink="/." title="Piedra, papel o tijeras" (click)="Juego('PPT')">PPoT</a></li>
                <li ><a routerLink="/." title="Tateti" (click)="Juego('Tateti')">Tateti</a></li>
                <li ><a routerLink="/." title="Blackjack" (click)="Juego('Blackjack7')">Blackjack7</a></li>
              <ul class="nav navbar-nav navbar-right">
                  <li><a href="#"><span class="glyphicon glyphicon-user"></span> Mis Datos</a></li>
                  <li><a href="/Login"><span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
              </ul>
          </div>
      </div>
    </nav>

