<div class="container" >

  <div class="card">
    <img class="img-thumbnail"   src="./assets/img/cerebro.jpg" alt="Avatar" style="width:100%">
    <h2>Velocidad y agilidad aritmética </h2>
    <p class="title">Juego de agilidad mental</p>
    <p>UTN FRA </p>
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a> 
    <a href="#"><i class="fa fa-linkedin"></i></a> 
    <a href="#"><i class="fa fa-facebook"></i></a> 
    <p><button class="button" (click)="Juego('Agilidad')"></button></p>
  </div>

  <div class="card">
    <img class="img-thumbnail" src="./assets/img/ppt.jpg" alt="Avatar" style="width:100%">
    <h2>Piedra Papel o Tijera</h2>
    <p class="title">Juega contra la máquina</p>
    <p>UTN FRA </p>
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a> 
    <a href="#"><i class="fa fa-linkedin"></i></a> 
    <a href="#"><i class="fa fa-facebook"></i></a> 
    <p><button class="button"(click)="Juego('PPT')"></button></p>
  </div>

  <div class="card">
    <img  class="img-thumbnail"  src="./assets/img/adivina.png" alt="Avatar" style="width:100%">
    <h2>Adivina el número secreto</h2>
    <p class="title">Juega de estrategia</p>
    <p>UTN FRA </p>
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a> 
    <a href="#"><i class="fa fa-linkedin"></i></a> 
    <a href="#"><i class="fa fa-facebook"></i></a> 
    <p><button class="button"(click)="Juego('Adivina')"></button></p>
  </div>

  <div class="card">
    <img  class="img-thumbnail"  src="./assets/img/anagrama.png" alt="Avatar" style="width:100%">
    <h2>Anagrama</h2>
    <p class="title">se muestra una palabra desordenada y se debe ingresar la correcta</p>
    <p>UTN FRA </p>
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a> 
    <a href="#"><i class="fa fa-linkedin"></i></a> 
    <a href="#"><i class="fa fa-facebook"></i></a> 
    <p><button class="button"(click)="Juego('Anagrama')"></button></p>
  </div>

  <div class="card">
    <img  class="img-thumbnail"  src="./assets/img/tateti.png" alt="Avatar" style="width:100%">
    <h2>TaTeTi </h2>
    <p class="title">Juega contra la máquina</p>
    <p>UTN FRA </p>
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a> 
    <a href="#"><i class="fa fa-linkedin"></i></a> 
    <a href="#"><i class="fa fa-facebook"></i></a> 
    <p><button class="button"(click)="Juego('Tateti')"></button></p>
  </div>

  <div class="card">
    <img  class="img-thumbnail"  src="./assets/img/bk.png" alt="Avatar" style="width:100%">
    <h2>Blackjack 7 </h2>
    <p class="title">Juega contra la máquina</p>
    <p>UTN FRA </p>
    <a href="#"><i class="fa fa-dribbble"></i></a> 
    <a href="#"><i class="fa fa-twitter"></i></a> 
    <a href="#"><i class="fa fa-linkedin"></i></a> 
    <a href="#"><i class="fa fa-facebook"></i></a> 
    <p><button class="button"(click)="Juego('Blackjack7')"></button></p>
  </div>
</div>
