<div class="container" >
    <div class="jumbotron" style="padding:50px;">

      <form name="juego">
      <ul>
        <li>
        Primer número: <input [(ngModel)]="nuevoJuego.numeroUno" placeholder="ingrese numero" name="numeroUno" type="text" class="form-control" style="width:50%" readonly/>
        
        </li>
        <li>
        Operador: <input [(ngModel)]="nuevoJuego.operador" placeholder="ingrese numero" name="operador" type="text" class="form-control" style="width:50%" readonly/>
          
        </li>
        <li>
        Segundo número: <input [(ngModel)]="nuevoJuego.numeroDos" placeholder="ingrese numero" name="numeroDos" type="text" class="form-control" style="width:50%" readonly/>
          
        </li>
        <li>
          Respuesta: <input [(ngModel)]="nuevoJuego.numeroIngresado" placeholder="ingrese numero" name="numeroIngresado" type="text" class="form-control" style="width:50%" autocomplete="off"/>
          
        </li>
        <li>
          <h2 [hidden]="ocultarVerificar == true" ><button (click)="cambiarVerificar()" class="btn_empty">Verificar {{Tiempo}} </button></h2>
          <h2 [hidden]="ocultarVerificar != true"><button  (click)="NuevoJuego()"  class="btn_empty">Nuevo</button></h2>
        </li>
        <li>
          <h2 [hidden]="nuevoJuego.inicio"><p><i class="fa fa-spinner fa-spin"></i>Esperando numero...</p></h2>
          <h2 [hidden]="!nuevoJuego.inicio"><p>Responda</p></h2>

          <h3 [hidden]="!nuevoJuego.gano">usted adivino el número</h3>
          <h3 [hidden]="nuevoJuego.gano">usted aún no gano </h3>
        </li>
      </ul>
      
    </form>
    <div id="snackbar">{{mensajes}}</div>

  </div>
</div>