<div class="panel panel-default">
   
  <div class="hero-text">
      <img src="assets/img/sala_juegos.png">
    <br>
     <a href="https://github.com/hernangomez7" target="_blank" class="oxide_button1"></a>
     <a routerLink="/QuienSoy" class="oxide_button2"></a>
     <img src="assets/img/menu_principal_img.png" style="max-width: 100%">
     <br>
  </div>
  <ul class="nav navbar-nav navbar-right">
          <li>
              <img src="assets/img/user_icon1.png">
              <a routerLink="/Registro">Registrarse</a>
          </li>
          <li>
              <img src="assets/img/reg_icon1.png">
              <a routerLink="/Login">Ingresar</a>
          </li>
  </ul>
</div>
